body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100em;
  background-color:#1c1c1c;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Arial";
  color : rgb(3, 21, 8)
}
section{
  position:relative;
  max-width: 250px ;
  border-radius: 20px;
  display: flex;
  padding: 2rem 3rem;
  background-color: #0101011;
  box-shadow: 5px 7px 10px #fff;
  opacity: 0.7;
  height: 20em;
  border: 3px solid transparent;
}


.inputbox input{
  position: relative;
  background: transparent;
  width: 100%;
  height: 1.5em;
  border-top: 10em;
  border-left: 10em;
  border-right: 10em;
  border-color: beige;
  outline: none ;
  font-size: 1rem;
  padding: 20px 5px 0px ;
  color: black;
  transition: 0.5s;
  z-index: 10;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  align-items: center;
}
button{
  background-color: rgb(255, 255, 255, 1);
  border-radius: 2em;
  border-color: white;
  box-shadow: 2px 3px 4px rgba(0, 0, 0);
  width: 100%;
  height: 35px;
  font-family: Calibri ;
  cursor: pointer;
}
.Mot_de_passe_oublié{
  font-size: small;
  color: #fff;
}
.Mot_de_passe_oublié:hover{
  align-items: left;
  text-decoration: underline;
  font-family: Arial;
}
.inputbox input:focus{
  transform: translateY(-4px);
  padding: 10px 15px 10px ;
  border:none;
  background-color: #fff;

}
.mdp{
  font-size: 11px ;
  color: white;
  
}
.user{
  font-size: 11px ;
  font-family: "Poppins" ;
  color: white;
}
h1{
  color: #fff1ff;
  text-align: center;
}
section {
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: #45f3ff;
  }
  50% {
    border-color: #ff4545;
  }
  75% {
    border-color: #45ff45;
  }
  100% {
    border-color: #f3ff45;
  }
}
