body{
    background: linear-gradient(90deg, #5f2bc7, #baaeae);
}
fieldset{
    background-color: white;
    border-radius: 1em;
    font-family: "Arial";
    font-family: sans-serif;
    width: 56em;
    
}
header{
    align-items: center;
    justify-content: center;
    display: flex;
    
}
img{
    border-radius: 1em;
}